<!DOCTYPE html>
<html lang="en">

<head th:include="pre/include::header(行业管理)"></head>

<body>
    <div class="header" th:include="/pre/include::top"></div>

    <div class="navbar navbar-inverse navbar-static-top" th:include="/pre/include::nav(manager)"></div>


    <div class="content">
        <div class="container">
            <div class="row">
                <div class="now_postion">
                    <span>你当前所在的位置：</span><span>首页</span><span> &gt; </span><span>行业管理</span>
                </div>
            </div>
            <div class="row">
                <div class="news_list">
                    <ul >
                        <li th:each="news,state : ${list}">
                            <div class="col-sm-2">
                                <span>【行业管理】</span>
                            </div>
                            <div class="col-sm-8">
                                <a href="" th:text="${news.title}">2019年年终工作回报</a>
                            </div>
                            <div class="col-sm-2">
                                <span class="pull-right" th:text="${#dates.format(news.publicTime, 'yyyy-MM-dd')}">2019-12-04</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" th:include="pre/include::footer"></div>


</body>
</html>
