<!DOCTYPE html>
<html lang="en">
<head th:include="pre/include::header(党建工作)"></head>
<body>
<div class="header" th:include="/pre/include::top"></div>

<div class="navbar navbar-inverse navbar-static-top" th:include="/pre/include::nav(party)"></div>


    <div class="content">
        <div class="container">
            <div class="row">
                <div class="now_postion">
                    <span>你当前所在的位置：</span><span><a href="/pre/index">首页</a></span><span> &gt; </span><span>党建工作</span>
                </div>
            </div>
            <div class="row">
                <div class="news_list  col-md-10 col-md-offset-1">
                    <ul >
                        <li th:each="news,state : ${list}">
                            <div class="col-sm-2">
                                <span th:text="【+${news.newsType}+】">【党建工作】</span>
                            </div>
                            <div class="col-sm-8">
                                <a th:href="@{'/pre/news/'+${news.id}}" th:text="${news.title}"></a>
                            </div>
                            <div class="col-sm-2">
                                <span class="pull-right" th:text="${#dates.format(news.publicTime, 'yyyy-MM-dd')}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" th:include="pre/include::footer"></div>


</body>
</html>
