<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">年份：</label>
                            <div class="col-sm-8">
                                <input id="year" name="year" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">协会单位名称：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="organInfoId" name="organInfoId">
                                    <option value="">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位会员数：</label>
                            <div class="col-sm-8">
                                <input id="unitMemberNumber" name="unitMemberNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">个人会员数：</label>
                            <div class="col-sm-8">
                                <input id="individualMemberNumber" name="individualMemberNumber" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">起始日期：</label>
                            <div class="col-sm-8">
                                <input id="startDate" name="startDate" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">任期：</label>
                            <div class="col-sm-8">
                                <input id="termTime" name="termTime" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">理事人数：</label>
                            <div class="col-sm-8">
                                <input id="directorNumber" name="directorNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">常务理事人数：</label>
                            <div class="col-sm-8">
                                <input id="standingDirectorNumber" name="standingDirectorNumber" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">监事会监事人数：</label>
                            <div class="col-sm-8">
                                <input id="supervisorNumber" name="supervisorNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">秘书处工作人员数：</label>
                            <div class="col-sm-8">
                                <input id="secretariatNumber" name="secretariatNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分支机构数：</label>
                            <div class="col-sm-8">
                                <input id="branchesNumber" name="branchesNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">代表机构数：</label>
                            <div class="col-sm-8">
                                <input id="representativeNumber" name="representativeNumber" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">实体机构数：</label>
                            <div class="col-sm-8">
                                <input id="mechanismsNumber" name="mechanismsNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/community/memberStaff/add.js">
</script>
</body>
</html>
