<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解农业社团管理平台</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>以上海市农业社团组织数据信息统计应用平台建设为抓手</li>
            <li>以信息的广泛性、代表性，准确性，时效性和权威性为组织导向</li>
            <li>加快行业信息集约化建设，实现公共数据互联共享</li>
            <li>全面增强各农业行业、农管部门的数据支持和决策质量</li>
        </ul>
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>
