<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="pre/include::header(组织机构基本信息)"></head>
<body>
<div class="header" th:include="/pre/include::top"></div>

<div class="navbar navbar-inverse navbar-static-top" th:include="/pre/include::nav(organization)"></div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="now_postion">
                <span>你当前所在的位置：</span><span><a href="/pre/index">首页</a></span><span> &gt; </span>
                <span><a href="/pre/organization">机构概况</a></span><span> &gt; </span><span>基本信息</span>
            </div>
        </div>

        <div class="row">
            <div class="component">
                <div class="component_header">
                    <div class="title">
                        <h3>机构概况</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="component_body">

                        <div class="organ_tree col-md-3">
                            <h3 class="title" th:text="${infoDo.companyName}">上海市农业旅游协会</h3>
                            <ul class="tree">
                                <li class="active"><a th:href="@{'/pre/organ/basic/'+${infoDo.id}}">基本信息</a></li>
                                <li><a th:href="@{'/pre/organ/memberstaff/'+${infoDo.id}}">会员和机构设置情况</a></li>
                                <li><a th:href="@{'/pre/organ/employee/'+${infoDo.id}}">人员情况</a></li>
                                <li><a th:href="@{'/pre/organ/director/'+${infoDo.id}}">理事信息</a></li>
                                <li><a th:href="@{'/pre/organ/member/'+${infoDo.id}}">协会会员信息</a></li>
                                <li><a th:href="@{'/pre/organ/party/'+${infoDo.id}}">党建情况</a></li>
                            </ul>
                        </div>

                        <div class="info_detail col-md-9">
                            <table class="table table-striped" th:object="${infoDo}">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>内容</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr>
                                    <th scope="row">1</th>
                                    <td>机构名称</td>
                                    <td th:text="*{companyName}">Otto</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>统一社会信用代码</td>
                                    <td th:text="*{companyCode}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>管理类别</td>
                                    <td th:text="*{manageType}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>社团类型</td>
                                    <td th:text="*{unitType}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>业务主管单位</td>
                                    <td th:text="*{businessUnit}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>登记日期</td>
                                    <td th:text="*{#dates.format(registrationDate, 'yyyy-MM-dd')}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>证书有效期</td>
                                    <td th:text="*{#dates.format(certificateEndTime,'yyyy-MM-dd')}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>发起人情况</td>
                                    <td th:text="*{sponsorInformation}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>注册资金</td>
                                    <td th:text="*{egisteredCapital}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>注册资金来源</td>
                                    <td th:text="*{sourceCapital}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">11</th>
                                    <td>注册地址</td>
                                    <td th:text="*{registeredAddress}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">12</th>
                                    <td>联系地址</td>
                                    <td th:text="*{contactAddress}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>住所用房情况</td>
                                    <td th:text="*{residentialOccupancy}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">14</th>
                                    <td>联系人</td>
                                    <td th:text="*{contactName}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">15</th>
                                    <td>职务</td>
                                    <td th:text="*{contactPosition}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">16</th>
                                    <td>手机号码</td>
                                    <td th:text="*{contactPhone}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">17</th>
                                    <td>电子邮件</td>
                                    <td th:text="*{contactEmail}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">18</th>
                                    <td>联系电话</td>
                                    <td th:text="*{contactNumber}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">19</th>
                                    <td>单位传真</td>
                                    <td th:text="*{contactFax}">Thornton</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">20</th>
                                    <td>网站网址</td>
                                    <td th:text="*{webSiteAddress}">Thornton</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer" th:include="pre/include::footer"></div>


</body>
</html>
