<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.organization.community.dao.MemberStaffDao">

	<select id="get" resultType="com.organization.community.domain.MemberStaffDO">
		select `id`,`year`,`organ_info_id`,`unit_member_number`,`individual_member_number`,`start_date`,`term_time`,`director_number`,`standing_director_number`,`supervisor_number`,`secretariat_number`,`branches_number`,`representative_number`,`mechanisms_number`,`preparer`,`create_time`,`update_time`,`is_delete` from organ_member_staff where id = #{value}
	</select>

	<select id="list" resultType="com.organization.community.domain.MemberStaffDO">
		select `id`,`year`,`organ_info_id`,`unit_member_number`,`individual_member_number`,`start_date`,`term_time`,`director_number`,`standing_director_number`,`supervisor_number`,`secretariat_number`,`branches_number`,`representative_number`,`mechanisms_number`,`preparer`,`create_time`,`update_time`,`is_delete` from organ_member_staff
        <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="organInfoId != null and organInfoId != ''"> and organ_info_id = #{organInfoId} </if>
		  		  <if test="unitMemberNumber != null and unitMemberNumber != ''"> and unit_member_number = #{unitMemberNumber} </if>
		  		  <if test="individualMemberNumber != null and individualMemberNumber != ''"> and individual_member_number = #{individualMemberNumber} </if>
		  		  <if test="startDate != null and startDate != ''"> and start_date = #{startDate} </if>
		  		  <if test="termTime != null and termTime != ''"> and term_time = #{termTime} </if>
		  		  <if test="directorNumber != null and directorNumber != ''"> and director_number = #{directorNumber} </if>
		  		  <if test="standingDirectorNumber != null and standingDirectorNumber != ''"> and standing_director_number = #{standingDirectorNumber} </if>
		  		  <if test="supervisorNumber != null and supervisorNumber != ''"> and supervisor_number = #{supervisorNumber} </if>
		  		  <if test="secretariatNumber != null and secretariatNumber != ''"> and secretariat_number = #{secretariatNumber} </if>
		  		  <if test="branchesNumber != null and branchesNumber != ''"> and branches_number = #{branchesNumber} </if>
		  		  <if test="representativeNumber != null and representativeNumber != ''"> and representative_number = #{representativeNumber} </if>
		  		  <if test="mechanismsNumber != null and mechanismsNumber != ''"> and mechanisms_number = #{mechanismsNumber} </if>
		  		  <if test="preparer != null and preparer != ''"> and preparer = #{preparer} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from organ_member_staff
		 <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="organInfoId != null and organInfoId != ''"> and organ_info_id = #{organInfoId} </if>
		  		  <if test="unitMemberNumber != null and unitMemberNumber != ''"> and unit_member_number = #{unitMemberNumber} </if>
		  		  <if test="individualMemberNumber != null and individualMemberNumber != ''"> and individual_member_number = #{individualMemberNumber} </if>
		  		  <if test="startDate != null and startDate != ''"> and start_date = #{startDate} </if>
		  		  <if test="termTime != null and termTime != ''"> and term_time = #{termTime} </if>
		  		  <if test="directorNumber != null and directorNumber != ''"> and director_number = #{directorNumber} </if>
		  		  <if test="standingDirectorNumber != null and standingDirectorNumber != ''"> and standing_director_number = #{standingDirectorNumber} </if>
		  		  <if test="supervisorNumber != null and supervisorNumber != ''"> and supervisor_number = #{supervisorNumber} </if>
		  		  <if test="secretariatNumber != null and secretariatNumber != ''"> and secretariat_number = #{secretariatNumber} </if>
		  		  <if test="branchesNumber != null and branchesNumber != ''"> and branches_number = #{branchesNumber} </if>
		  		  <if test="representativeNumber != null and representativeNumber != ''"> and representative_number = #{representativeNumber} </if>
		  		  <if test="mechanismsNumber != null and mechanismsNumber != ''"> and mechanisms_number = #{mechanismsNumber} </if>
		  		  <if test="preparer != null and preparer != ''"> and preparer = #{preparer} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.organization.community.domain.MemberStaffDO" useGeneratedKeys="true" keyProperty="id">
		insert into organ_member_staff
		(
			`year`,
			`organ_info_id`,
			`unit_member_number`,
			`individual_member_number`,
			`start_date`,
			`term_time`,
			`director_number`,
			`standing_director_number`,
			`supervisor_number`,
			`secretariat_number`,
			`branches_number`,
			`representative_number`,
			`mechanisms_number`,
			`preparer`,
			`create_time`,
			`update_time`,
			`is_delete`
		)
		values
		(
			#{year},
			#{organInfoId},
			#{unitMemberNumber},
			#{individualMemberNumber},
			#{startDate},
			#{termTime},
			#{directorNumber},
			#{standingDirectorNumber},
			#{supervisorNumber},
			#{secretariatNumber},
			#{branchesNumber},
			#{representativeNumber},
			#{mechanismsNumber},
			#{preparer},
			#{createTime},
			#{updateTime},
			#{isDelete}
		)
	</insert>

	<update id="update" parameterType="com.organization.community.domain.MemberStaffDO">
		update organ_member_staff
		<set>
			<if test="year != null">`year` = #{year}, </if>
			<if test="organInfoId != null">`organ_info_id` = #{organInfoId}, </if>
			<if test="unitMemberNumber != null">`unit_member_number` = #{unitMemberNumber}, </if>
			<if test="individualMemberNumber != null">`individual_member_number` = #{individualMemberNumber}, </if>
			<if test="startDate != null">`start_date` = #{startDate}, </if>
			<if test="termTime != null">`term_time` = #{termTime}, </if>
			<if test="directorNumber != null">`director_number` = #{directorNumber}, </if>
			<if test="standingDirectorNumber != null">`standing_director_number` = #{standingDirectorNumber}, </if>
			<if test="supervisorNumber != null">`supervisor_number` = #{supervisorNumber}, </if>
			<if test="secretariatNumber != null">`secretariat_number` = #{secretariatNumber}, </if>
			<if test="branchesNumber != null">`branches_number` = #{branchesNumber}, </if>
			<if test="representativeNumber != null">`representative_number` = #{representativeNumber}, </if>
			<if test="mechanismsNumber != null">`mechanisms_number` = #{mechanismsNumber}, </if>
			<if test="preparer != null">`preparer` = #{preparer}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from organ_member_staff where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from organ_member_staff where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
